@charset "UTF-8";

* {
  @include ltr {
    font-family: $normal-text;
    font-size: 1rem;

    strong {
      font-weight: 600;
    }

    sup {
      vertical-align: top;
      position: relative;
      top: -0.3rem;

      .footnote-ref {
        font-size: .75rem;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $header-text;

      a {
        font-family: $header-text;
      }
    }
  }

  @include rtl {
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
  }
}
