$accent--lightmode: #fff;
$primary--lightmode: #464646;
$primary-light--lightmode: #9f9f9f;
$primary-lighter--lightmode: #eeeeee;
$shadow--lightmode: 0 8px 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #202020;
$primary--darkmode: #cccccc;
$primary-light--darkmode: #9f9f9f;
$primary-lighter--darkmode: #464646;
$shadow--darkmode: 0 8px 16px rgba(226, 226, 226, 0.1);

$warning: #ffc107;
$info: #6086b4;
$success: #51d88a;
$danger: #ef5753;
$site-accent: #eb6f1d;

$normal-text: 'Red Hat Text', sans-serif;
$header-text: 'Red Hat Display', sans-serif;
$mono-text: 'Red Hat Mono', monospace;

$thumbnail-height: 15em;
$body-max-width: 1920px;
$post-max-width: 720px;

$sidebar-ratio: calc(1 - #{$content-ratio});
$content-max-width: calc(#{$body-max-width} * #{$content-ratio});
$sidebar-max-width: calc(#{$body-max-width} - #{$content-max-width});
$content-width: calc(#{$content-ratio} * 100%);
$sidebar-width: calc(#{$sidebar-ratio} * 100%);
