.alert {
  padding: .75rem;
  display: flex;
  align-items: center;
  width: fit-content;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 2px;
  margin-top: 1rem;

  @include themed() {
    border-color: t('alert');
  }

  &__indicator {
    border-radius: 9999px;
    padding: 0.5rem;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-weight: bold;
    font-family: $header-text;
    font-size: 1.75rem;
    margin-right: 0.75rem;

    @include themed() {
      color: t('accent');
      background-color: t('alert');
    }
  }
}
