.notice {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  @include themed() {
    background-color: mix(t('info'), t('accent'), 40%);
  }

  &--update {
    @include themed() {
      background-color: mix(t('success'), t('accent'), 40%);
    }
  }

  &--warning {
    @include themed() {
      background-color: mix(t('danger'), t('accent'), 40%);
    }
  }

  &__title {
    background-color: t('info');
    align-self: flex-end;
    font-weight: 300;
    letter-spacing: 0.025em;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0px 5px 0px 5px;

    @include themed() {
      color: t('accent');
    }

    &--update {
      background-color: t('success');
    }

    &--warning {
      background-color: t('danger');
    }
  }

  &__content {
    padding: 8px 8px 1rem 1rem;
  }
}
