.page_404 {
  text-align: center;
  padding-top: 30px;

  h1 {
    $font-size-h1: 2rem;

    font-size: $font-size-h1;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 0;
  }

  h2 {
    $font-size-h2: 1.75rem;

    font-size: $font-size-h2;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
  }

  p {
    max-width: calc(#{$post-max-width} * .5);
    margin: 1rem auto;

    a {
      color: t('site-accent');
    }
  }
}
