.post {
  margin: 30px;

  @include themed() {
    background-color: t('accent');
  }

  &__meta {
    display: flex;
    list-style: none;
    padding: 0;

    &-item {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }

    &-icon {
      @include ltr {
        margin-right: 2px;
      }

      @include rtl {
        margin-left: 2px;
      }
    }

    &-text {
      &:not(:last-child) {
        @include ltr {
          margin-right: 4px;
        }

        @include rtl {
          margin-left: 4px;
        }
      }
    }
  }

  &__thumbnail {
    width: 100%;
    height: $thumbnail-height;
    object-fit: cover;
    display: block;

    &-wrapper {
      border-radius: 2px;
      width: 100%;
      margin-bottom: 1em;
      overflow: hidden;
      transition: box-shadow 0.3s ease;

      @include themed() {
        box-shadow: t('shadow');
      }
    }
  }

  &__content {
    max-width: $post-max-width;
    margin: 0 auto;

    @include desktop {
      margin: 0;
    }

    a {
      @include themed() {
        color: t('site-accent');
      }
    }

    // .chroma {
    //   @include themed() {
    //     background-color: t('primary-lighter');
    //     display: block;
    //     border-bottom: 1px solid t('primary-lighter');
    //   }
    // }

    code {
      font-family: $mono-text;
      // padding: 0 2px;
      font-size: .875rem;

      // @include themed() {
      //   background-color: t('primary-lighter');
      //   border: 1px solid t('primary-lighter');
      //   border-radius: 2px;
      // }
    }

    code span {
      font-size: .875rem;
      font-family: $mono-text;
    }

    pre {
      padding: 5px;
      overflow-x: auto;
      font-size: .75rem;
      border-radius: 5px;

      // @include themed() {
      //   background-color: t('primary-lighter');
      // }

      @include print {
        white-space: pre-wrap;
      }
    }

    h1 {
      $font-size-h1: 2rem;

      font-size: $font-size-h1;
      letter-spacing: 1px;
      line-height: 1;

      a {
        font-size: $font-size-h1;

        @include themed() {
          color: t('primary');
        }
      }
    }

    h2 {
      $font-size-h2: 1.75rem;

      font-size: $font-size-h2;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1;

      a {
        font-size: $font-size-h2;

        @include themed() {
          color: t('primary');
        }
      }
    }

    h3 {
      $font-size-h3: 1.25rem;

      font-size: $font-size-h3;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1;

      a {
        font-size: $font-size-h3;

        @include themed() {
          color: t('primary');
        }
      }
    }

    ul,
    ol {
      line-height: 1.5rem;
      font-weight: 400;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    figure {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      text-align: center;

      &.big {
        max-width: 87.5%;
      }

      &.medium {
        max-width: 75%;
      }

      &.small {
        max-width: 50%;
      }

      &.tiny {
        max-width: 25%;
      }

      &.right {
        @include desktop {
          max-width: 50%;

          @include ltr {
            float: right;
            margin: 0 0 0 1.5em;
          }

          @include rtl {
            float: left;
            margin: 0 1.5em 0 0;
          }
        }
      }

      &.left {
        @include desktop {
          max-width: 50%;

          @include ltr {
            float: left;
            margin-right: 1.5em;
          }

          @include rtl {
            float: right;
            margin-left: 1.5em;
          }
        }
      }
    }
  }

  &__footer {
    padding: 12px 0;
    max-width: $post-max-width;
    margin: 0 auto;

    @include desktop {
      margin-left: 0px;
    }

    @include themed() {
      border-bottom: t('border');
    }

    &-date {
      font-size: 1rem;

      @include ltr {
        margin-right: 10px;
        margin-left: 5px;
      }

      @include rtl {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
  }
}
