.tag {
  display: inline-block;
  font-size: 1.1rem;

  @include themed() {
    color: t('primary-light');
  }

  @include ltr {
    margin: 5px 8px 5px 0;
  }

  @include rtl {
    margin: 5px 0 5px 8px;
  }

  &::before {
    content: '#';
  }
}
