.wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  @include widescreen {
    justify-content: center;
    margin: 0 auto;
    max-width: $body-max-width;
  }

  &__main {
    width: 100%;

    @include desktop_and_print {
      width: $content-width;
    }

    @include widescreen {
      width: $content-width;
    }

    @include print {
      width: 100%;
    }

    &--fullscreen {
      margin-top: 20px;

      @include desktop_and_print {
        width: 100%;
        margin-top: 0px;
      }

      @include widescreen {
        width: $body-max-width;
      }
    }
  }

  &__sidebar {
    width: 100%;
    padding: 16px 0;

    @include desktop_and_print {
      width: $sidebar-width;
      padding: 0;
    }

    @include widescreen {
      width: calc(#{$body-max-width} * #{$sidebar-ratio});
    }

    &--hidden {
      display: none;
    }
  }
}
